.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: black;
    width: 100%;
    text-align: center;
    border-bottom: 15px solid greenyellow;
    border-top: 15px solid greenyellow;
    border-left: 15px solid greenyellow;
    border-right: 15px solid greenyellow;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}